body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;

    background-color: rgb(249, 223, 193);
    font-size: 40pt;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Styles for mobile */
@media (max-width: 767px) {
    #image {
            max-width: 100%;
            height: auto;
        }
    
        main {
            color: rgb(177, 74, 23);
        }
    
        main>h1 {
            font-size: 90pt;
            color: rgb(177, 74, 23);
    
        }
    
        main>p {
            color: rgb(201, 95, 42);
        }
    
        main dl dt a {
            color: rgb(213, 74, 95);
        }
    
        footer {
            padding-top: 40px;
        }
    
        footer button {
            background-color: rgb(213, 74, 95);
            color: white;
            text-align: center;
            font-size: 30px;
            padding: 30px;
            border: 2px solid rgb(213, 74, 95);
        }
}

/* Styles for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    #image {
            max-width: 100%;
            height: auto;
        }
    
        main {
            color: rgb(177, 74, 23);
        }
    
        main>h1 {
            font-size: 90pt;
            color: rgb(177, 74, 23);
    
        }
    
        main>p {
            color: rgb(201, 95, 42);
        }
    
        main dl dt a {
            color: rgb(213, 74, 95);
        }
    
        footer {
            padding-top: 40px;
        }
    
        footer button {
            background-color: rgb(213, 74, 95);
            color: white;
            text-align: center;
            font-size: 30px;
            padding: 30px;
            border: 2px solid rgb(213, 74, 95);
        }
}

/* Styles for desktop */
@media (min-width: 1024px) {
    #image {
            max-width: 100%;
            height: auto;
        }
    
        main {
            color: rgb(177, 74, 23);
        }
    
        main>h1 {
            font-size: 90pt;
            color: rgb(177, 74, 23);
    
        }
    
        main>p {
            color: rgb(201, 95, 42);
        }
    
        main dl dt a {
            color: rgb(213, 74, 95);
        }
    
        footer {
            padding-top: 40px;
        }
    
        footer button {
            background-color: rgb(213, 74, 95);
            color: white;
            text-align: center;
            font-size: 30px;
            padding: 30px;
            border: 2px solid rgb(213, 74, 95);
        }
}


